// CONFIG
$bar_height : 5px;
$bar_width : 30px;
$bar_color : #fff;
$bar_translate : 10px;
$transition_time: .25s;
$menu_bg_color : $light_green;
$mobile_font_size : 2.5rem;
$desktop_font_size : 1.15rem;
$breakpoint_desktop : 1201px;
$desktop_menu_padding : 0 1rem;


@mixin contrast_color($bg_color) {
    @if (lightness($bg_color) > 50) {
        color: $grey;
    } @else {
        color: #fff;
    }
}

@mixin menu_bar {
    transition: $transition_time;
    content: '';
    display: block;
    width: $bar_width;
    background-color: $bar_color;
    height: $bar_height;
}

body, html{
    overflow-x: hidden;
}
li a {
    font-family: anton;
    @include contrast_color($menu_bg_color)
}


.menu_button {
    cursor: pointer;
    padding: 20px 10px;
    z-index: 2;
    background-color: $light_green;
}

span.menu_button_part {
    @include menu_bar();
    &::before {
        @include menu_bar();
        transform: translateY(-$bar_translate);
    }
    &::after {
        @include menu_bar;
        transform: translateY(calc(#{$bar_translate} - #{$bar_height}));
    }
}

nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem
}

nav.menu.open {
    .menu_container {
        display: flex;
    }
    span.menu_button_part {
        transition: $transition_time;
        transform: rotate(45deg);
        &::before {
            transition: $transition_time;
            transform: translateY(0) rotate(90deg);
        }
        &::after {
            transition: $transition_time;
            transform: translateY(-#{$bar_height}) rotate(90deg);
        }
    }
}

.menu_container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $menu_bg_color;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        font-size: $mobile_font_size;
        list-style: none;
    }
}


@media all and (min-width : $breakpoint_desktop) {
    .menu_container {
        width: 100%;
        display: flex;
        min-height: inherit;
        justify-content: flex-start;
        padding: $desktop_menu_padding;
        position: inherit;
        background-color: transparent;
        ul {
            flex-direction: row;
            font-size: $desktop_font_size;
            margin-bottom: 0;

        }
        li {
            padding: 20px;
            background-color: $menu_bg_color;
            text-align: center;
            display: flex;
            align-items: center;
            &:last-of-type {
                background-color: $yellow;
                margin-left: 1rem;
            }
        }
    }

    div.logo {
        background-color: #fff;
        padding:2rem;
    }

    .menu_button {
        display: none;
    }

    nav.menu {
        background-color: transparent;
        align-items: flex-start;
        padding: 0;
    }
    div.wrap-menu{
        position: absolute;
        width: calc(#{$breakpoint_desktop} - 150px);
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}


@media all and (min-width : 1440px) {
    div.wrap-menu {
        width: 1200px;
    }
}


/* JS

let button_part = document.querySelector('.menu_button_part')
let menu = document.querySelector('.menu')

document.querySelector('.menu_button').addEventListener('click', () => {
    menu.classList.toggle('open')
})

*/


/*HTML 

<nav class="menu">
    <div class="menu_button">
        <span class="menu_button_part"></span>
    </div>
    <div class="menu_container">
        <ul>
            <li><a class="menu_item" href="index.html">accueil</a></li>
            .......
        </ul>	
    </div>
</nav>

*/