
@font-face {
    font-family: "anton";
    src: url("/src/fonts/Anton-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "lato_black";
    src: url("/src/fonts/Lato-Black.ttf") format("ttf")
}

@font-face {
    font-family: "lato";
    src: url("/src/fonts/Lato-Regular.ttf") format("ttf")
}