div.wrap {
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: lato;
}
img {
    width: 100%;
}

p {
    margin-bottom: 0;
}

h3, h4 {
    font-family: lato_black;
}

h4 {
    font-size: 1.2rem;
}