$brown : rgb(195, 165, 117);
$light_grey : rgb(232, 221, 202);
$grey : rgb(109, 11, 113);
$yellow : rgb(252, 183, 49);
$blue : rgb(0, 175, 236);
$light_green : rgb(179, 209, 67);
$dark_green : rgb(100, 123, 34);
